#data-field {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-content: center;
    border: 3px solid #6f47ae;
    /*padding: 5px;*/
    min-width: 600px;
    width: fit-content;
    min-height: 600px;
    font-size: 1.5em;
}

@media (max-width: 1000px) {
    #data-field {
        display: flex !important;
        border: none;
        font-size: 5em;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        align-content: center;
    }
}